extends layout.pug

block card
    div(class="card-body")
        h5(class="card-title") Hi #{name},
        if loginsCount < 2
            p(class="card-text").
                Looks like this is your first time signing 
                in with your Apple account. If you already have an account 
                with us, connect it by signing in below.
        else 
            p(class="card-text").
                To improve account security, connect your Google account.
        hr 
        div
            a(href="/connect/google-oauth2", class="btn btn-primary w-100") Continue with Google
        div
            a(href="/continue", class="btn btn-link w-100") Not now