extends layout.pug

block card
    script(type='text/javascript').
        window.setTimeout(function(){ 
            window.location.href = "/continue"; 
        }, 5000);
    div(class="card-body")
        h3(class="card-title") Accounts Linked 🎉
        p(class="card-text") You can now use your Apple or Google account to sign in to Travel0.
        p(class="card-text text-muted text-small") You will be redirected in 5 seconds.
        hr 
        a(href="/continue", class="btn btn-primary w-100") Continue