extends layout.pug

block card
    div(class="card-body")
        h5(class="card-title") Hi #{name},
        p(class="card-text") Travel0 now supports Sign in with Apple!
        p(class="card-text") Sign in with Apple allows you to login convienently using FaceID or TouchID on your Apple Devices
        hr 
        div
            a(href="/connect/apple", class="btn btn-primary w-100") Connect Apple Account
        div
            a(href="/connect/ignore", class="btn btn-link w-100") Skip connecting for now