extends layout.pug

block card
    div(class="card-body")
        h5(class="card-title") Hi #{name},
        p(class="card-text") Travel0 now supports Sign in with Apple!
        p(class="card-text") Connect your Apple account to use FaceID or TouchID to sign in to Travel0 on your Apple devices.
        hr 
        div
            a(href="/connect/apple", class="btn btn-dark w-100")
                i.fab.fa-apple
                |     Continue with Apple
        div
            a(href="/connect/skip", class="btn btn-link w-100") Not now